@import "./variables.less";

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: @default-font-family;
  font-size: @default-font-size;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container {
  margin: 30px auto;
  text-align: left;
  width: 780px;
}
